/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #707070;
}

/* BUTTONS */

.btn {
  padding: 15px 20px;
  background: #353535;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover {
  background: #0e0e0e;
  box-shadow: 0 2px 6px #0000006c;
}

/* Go To Top Button */

#gotopbtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  height: 60px;
  width: 60px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
  cursor: pointer;
}

#gotopbtn-filled {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #363636;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: white;
  z-index: 2;
}

.fa-chevron-up {
  transition: 0.3s;
}

.fa-chevron-up:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}

strong {
  font-weight: 600;
  color: #cd2e4c;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;
  z-index: 10;
  background: #202020;
}

.header .logo {
  font-weight: 700;
  color: white;
  font-size: 2rem;
}

.header .navbar a {
  display: inline-block;
  padding: 2rem 2rem;
  font-size: 1.5rem;
  color: white;
  transition: .5s ease;
  text-decoration: none;
}

.header .navbar a:hover {
  background: #01c4fa;
}

#menu-btn {
  font-size: 3rem;
  color: #01c4fa;
  cursor: pointer;
  display: none;
}

/* SECTIONS */

section {
  padding: 4rem;
  margin: 0 5rem;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 4rem;
  height: 85dvh;
}

.profile_pic {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.sect_text {
  align-self: center;
  text-align: center;
}

.sect_text1 {
  font-size: 1.5rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.sect_text2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.profile_btn {
  display: flex;
  justify-content: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

/* ABOUT SECTION */

#about .sect_text1 {
  font-size: 1.5rem;
}

#about .title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.section-container {
  gap: 4rem;
}

.section_about_pic img {
  height: auto;
  width: 400px;
}

.about-pic {
  border-radius: 4rem;
}

.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-container p {
  font-size: 1.25rem;
  line-height: 2rem;
}

.about-text-link {
  color: #b42121;
}


/* EXPERIENCE SECTION */

#experience {
  height: 80dvh;
}

#experience .title {
  margin-bottom: 2rem;
}

.project-container {
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
}

.skills-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.experience-subtitle {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.skills-containers {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

.project-img {
  border-radius: 15px;
  width: 400px;
  height: auto;
}

.project-title {
  margin: 1rem;
  color: black;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.project-container {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

.project-article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-article h2 {
  text-align: center;
}

/* FOOTER SECTION */

footer {
  padding: 40px;
}

footer p {
  text-align: center;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 992px) {

  /* MQ 992 Header */

  .header {
    padding: 0 5rem;
  }

  .header .logo {
    font-weight: 500;
    font-size: 1.9rem;
  }

  .header .navbar a {
    padding: 1.8rem 1.8rem;
    font-size: 1.4rem;
  }

  /* MQ 992 Profile */

  #profile {
    gap: 3.8rem;
    height: 80dvh;
  }

  .profile_pic {
    height: 380px;
    width: 380px;
  }

  .sect_text1 {
    font-size: 1.4rem;
  }

  .title {
    font-size: 2.8rem;
  }

  .sect_text2 {
    font-size: 1.65rem;
  }

  /* MQ 992 About */

  #about .sect_text1 {
    font-size: 1.3rem;
  }

  #about .title {
    font-size: 3.6rem;
  }

  .section-container {
    gap: 3.8rem;
  }

  .section_about_pic img {
    width: 300px;
  }

  .text-container p {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  /* MQ 992 Experience */

  #experience {
    height: 90dvh;
  }

  /* MQ 992 Projects */

  .project-img {
    width: 360px;
  }
}

@media only screen and (max-width: 768px) {

  /* MQ 768 Header */

  #menu-btn {
    display: inline-block;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header {
    padding: 1.5rem;
    margin-bottom: 6rem;
  }

  .header .navbar {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    background: #000;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    text-align: center;
    padding: 1rem 0;
  }

  .header .navbar a {
    display: block;
    font-size: 1.3rem;
  }

  /* MQ 768 Profile */

  #profile {
    gap: 3.6rem;
    height: 75dvh;
  }

  .profile_pic {
    height: 340px;
    width: 340px;
  }

  .sect_text1 {
    font-size: 1.2rem;
  }

  .title {
    font-size: 2.6rem;
  }

  .sect_text2 {
    font-size: 1.45rem;
  }

  /* MQ 768 About */

  #about .sect_text1 {
    font-size: 1.2rem;
  }

  #about .title {
    font-size: 3.4rem;
  }

  .section-container {
    gap: 3.6rem;
    flex-direction: column;
  }

  .section_about_pic {
    display: flex;
    justify-content: center;
  }

  .section_about_pic img {
    width: auto;
    height: 360px;
  }

  .text-container p {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  /* MQ 768 Experience */

  #experience {
    height: 100dvh;
    margin-bottom: 5rem;
  }

  /* MQ 768 Projects */

  .project-img {
    width: 260px;
  }
}

@media only screen and (max-width: 480px) {

  /* MQ 480 Header */

  .header .logo {
    font-size: 1.3rem;
  }

  /* MQ 480 Profile */

  #profile {
    gap: 3.6rem;
    height: 100dvh;
    flex-direction: column;
    margin-bottom: 6rem;
  }

  .section_profile_pic {
    display: flex;
    justify-content: center;
  }

  .profile_pic {
    height: 360px;
    border-radius: 11px;
  }

  .sect_text1 {
    font-size: 1rem;
  }

  .title {
    font-size: 2.4rem;
  }

  .sect_text2 {
    font-size: 1.25rem;
  }

  /* MQ 480 About */

  section#about {
    padding: 1rem;
  }

  #about .sect_text1 {
    font-size: 1rem;
  }

  #about .title {
    font-size: 2.6rem;
  }

  .section_about_pic img {
    height: 400px;
    border-radius: 11px;
  }

  .text-container p {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  /* MQ 480 Experience */

  section#experience {
    padding: 1rem;
    margin-bottom: 20rem;
  }

  .skills-container {
    padding: 1.1rem;
  }

  .experience-subtitle {
    font-size: 1.4rem;
  }

  .skills-containers {
    gap: 2rem;
  }

  article {
    display: flex;
    width: calc(50% - 1.25rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  /* MQ 480 Projects */

  #projects.sect_text1,
  #projects.title {
    text-align: center;
  }

  .project-article{
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .project-img {
    border-radius: 11px;
    width: 200px;
    height: auto;
  }

  .project-container {
    flex-direction: column;
    gap: 1.5rem;
  }

  /* MQ 480 Footer */
  footer {
    padding: 85px;
  }
}